section {
  height: 800px;
  width: 800px;
  background-color: cornflowerblue;
}

div {
  height: 50%;
  width: 50%;
  background-color: darkkhaki;
}
#ems h2 {
  font-size: 2em;
  margin-left: 1em;
}

#ems h3 {
  font-size: 1.5em;
}

#ems p {
  font-size: 1em;
}

#ems {
  font-size: 15px;
}

#ems button {
  font-size: 1em;
  padding: 0 1em;
  border-radius: 0.5em;
  background-color: #2a9d8f;
  color: white;
}

#ems ul {
  font-size: 1rem;
}

#rems h2 {
  font-size: 3rem;
}
#rems h3 {
  font-size: 2rem;
}
#rems ul {
  font-size: 1rem;
}
